* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #003333;
    text-align: center;

    -webkit-transition: all 1s ease;
}

.text {
    padding-top: 20px;
    color: #ffffff;
}

#photo1 {
    width: 100%;
    height: auto;
}

.menu-toggle {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
}

.menu-toggle:hover {
    color: #99FF99;
    font-size: 20px;
}

/* Nav bar
======================================= */

.navbar {
    position: fixed;
    height: 100%;
    width: 20%;
    top: 0px;
    left: 0px;
    background-color: #99FF99;
    overflow: hidden;

    -webkit-transform: translate(-100%, 0);

    -webkit-transition: all 1s ease;
}

.navbar h2 {
    padding: 20px 0px;
    color: #003333;
    text-align: center;
}

nav a {
    display: block;
    padding: 20px 80px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    border-bottom: 1px solid #398659;
}

nav a:hover {
    color: #fff;
}






